.layouta_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.box1 {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 6px;
    padding: 15px;
    margin: auto;
    max-width: 380px;
}

.box2 {
    /* display: flex; */
    flex-flow: column wrap;
    background-color: rgb(255, 255, 255);
    -webkit-box-align: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

img {
    width: 265px;
    height: 70px;
    margin-bottom: 20px;
    display: flex;
}

.box3 {
    margin-right: 10px;
    margin-left: 10px;
}

.welcome_text {
    margin-top: 0px;
    font-size: 20px;
    text-align: center;
    display: flex;
    color: #814444;
    font-weight: 700

}

.input_id, .input_pw {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin-top: 8px;
    padding: 0 12px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background-color: #fff;
    font-size: 15px;
    color: #000;
    box-shadow: 0 0 0 30px #fff inset !important;
}

.login_btn {
    display: block;
    margin-top: 15px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 14px 16px 15px;
    border: 1px solid #000;
    border-radius: 4px;
    font-weight: 700;
    background-color: #814444;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

.find_btn, .find_btn1 {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    font-size: 14px;
    line-height: 21px;
    color: #aaa;
}

.find_btn1::before {
    display: block;
    position: absolute;
    top: 3px;
    left: 5px;
    width: 1px;
    height: 14px;
    background-color: #d8d8d8;
    content: ''
}

.signup_btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 3px 3px 0px 8px;
    line-height: 21px;
    color: #0078ff;
    background-color: #fff;
    border-bottom: #000;
}

.find_btn_group {
    float: right;
    margin-top: 15px;
}

p {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    margin-top: 25px;
}