<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link href="/static/css/login.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>로그인 페이지</title>

</head>
<body>
<div class="layouta_container">
    <div class="layouta_container">
        <div class="box1">
            <div class="box2">
                <img src="/static/img/logo.png" alt="logo">
                <div class="box3">
                    <div class="welcome_text" dir="auto">퍼펙트홈즈에 로그인하고</div>
                    <div class="welcome_text" dir="auto">다양한 서비스를 이용하세요.</div>
                </div>
            </div>
            <form>
                <input class="input_id" type="text" id="username" placeholder="아이디" value="">
                <input class="input_pw" type="password" id="password" placeholder="비밀번호" value="">
                <button type="button" id="submit" class="login_btn">로그인</button>
                <div class="find_btn_group">
                    <li class="find_btn">
                        <a id="id-find" href="#" class="id_find_click">아이디 찾기</a>
                    </li>
                    <li class="find_btn1">
                        <a id="id-find" href="#" class="password_find_click">비밀번호 찾기</a>
                    </li>
                </div>
                <div class="signup">
                    <p>회원이 아니신가요?<a id="signup_btn" href="{% url 'signup' %}" class="signup_btn">회원가입</a>하기</p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    function login() {
        let username = $('#username').val();
        let password = $('#password').val();

        $.ajax({
            url: "/auth/login/",
            data: {
                username: username,
                password: password,
            },
            method: "POST",
            success: function (data) {
                console.log(data);
                location.replace("/");
            },
            error: function (request, status, error) {
                console.log(error);
                alert("입력하신 정보가 올바르지 않습니다.");

            },
            complete: function (data) {
            },
        });
    }

    $('#submit').click(function () {
        login()
    });

    $(document).keyup(function (event) {
        if (event.which === 13) {
            login()
        }
    });


</script>
</html>

