<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <script
      type="text/javascript"
      src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=2yf3rqafqw&submodules=geocoder"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.2.4.min.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/417f8ed01c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <title>메인 페이지</title>
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>
    <script src="../static/js/main.js"></script>
    <div class="sideBarContainer">
      <button id="toggle-sidebar" class="btn toggle-btn">></button>

      <div class="sidebar">
        <img
          class="side-header"
          src="../static/assets/HeaderImages/sideHeader.png"
        />
        <div class="side-list"></div>
        <hr />
      </div>
    </div>

    <div class="top-bar">
      <div class="bar-item" onclick="showMarkers(['버스정류장'])">🚏정류장</div>
      <div
        class="bar-item"
        onclick="showMarkers(['학원','유치원','초등학교','고등학교'])"
      >
        🏫학교
      </div>
      <div class="bar-item" onclick="showMarkers(['편의점'])">🏪편의점</div>
      <div class="bar-item" onclick="showMarkers(['식당'])">🍴식당</div>
    </div>

    <form
      class="ai-bar"
      action=""
      method="get"
      onsubmit="handleFormSubmit(event);"
    >
      <input
        id="ai-txt"
        class="ai-txt"
        type="text"
        name=""
        placeholder="질문을 적어주세요."
      />
      <button id="ai-btn" class="ai-btn" type="submit">🤖</button>
    </form>

    <div class="search-bar">
      <div class="bar-item1" onclick="openModal()">🔍</div>
    </div>

    <div class="right-bar">
      <div
        class="bar-item1"
        onclick="showMarkers(['학원','유치원','초등학교','고등학교'])"
      >
        교육🏫
      </div>
      <div
        class="bar-item1"
        onclick="showMarkers(['약국','외과','이비인후과','치과'])"
      >
        의료🚑
      </div>
      <div
        class="bar-item1"
        onclick="showMarkers(['볼링장','주민센터','헬스장','영화관'])"
      >
        여가🤹‍♂️
      </div>
      <div
        class="bar-item1"
        onclick="showMarkers(['아동복지시설','노인복지시설','경찰서','주민센터','은행','전기차충전소','주유소'])"
      >
        시설🏢
      </div>
      <div class="bar-item1" onclick="showMarkers(['아파트'])">아파트🏦</div>
    </div>

    <!-- <img class="home-img" src="/static/img/home.png"> -->

    <div id="myModal" class="modal">
      <button class="apply" onclick="searchByFilter()">적용</button>
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="category-container">
          <p style="width: 100%; text-align: start; padding: 0 20px">
            원하는 주거항목을 선택해주세요.
          </p>
          <p
            style="
              width: 100%;
              text-align: start;
              padding: 0 20px;
              font-size: 13px;
              color: grey;
            "
          >
            (중복 적용이 가능합니다)
          </p>
          <div id="medical" class="category" data-category="medical">의료</div>
          <div id="education" class="category" data-category="education">
            학군/교육
          </div>
          <div id="facilities" class="category" data-category="facilities">
            시설
          </div>
          <div id="residential" class="category" data-category="residential">
            거주
          </div>
          <div id="leisure" class="category" data-category="leisure">여가</div>
        </div>
        <p style="font-size: 25px">⬇️</p>
        <div
          id="details-medical"
          class="detail-container"
          style="display: none"
        >
          <p style="width: 100%; text-align: start; padding: 0 20px">
            <span style="color: #abf7b1">● </span>
            의료
          </p>
          <p
            style="
              width: 100%;
              text-align: start;
              padding: 0 20px;
              font-size: 13px;
              color: grey;
            "
          >
            원하는 조건을 골라 세부항목을 선택해주세요.
          </p>
          <div class="detail">약국</div>
          <div class="detail">내과</div>
          <div class="detail">외과</div>
          <div class="detail">종합병원</div>
          <div class="detail">피부과</div>
          <div class="detail">치과</div>
          <div class="detail">보건소</div>
          <div class="detail">산부의과</div>
          <div class="detail">비뇨기과</div>
          <div class="detail">한의원</div>
        </div>
        <div
          id="details-education"
          class="detail-container"
          style="display: none"
        >
          <p style="width: 100%; text-align: start; padding: 0 20px">
            <span style="color: #fcfcdc">● </span>교육
          </p>
          <p
            style="
              width: 100%;
              text-align: start;
              padding: 0 20px;
              font-size: 13px;
              color: grey;
            "
          >
            원하는 조건을 골라 세부항목을 선택해주세요.
          </p>
          <div class="detail">유치원</div>
          <div class="detail">어린이집</div>
          <div class="detail">초등학교</div>
          <div class="detail">중학교</div>
          <div class="detail">고등학교</div>
          <div class="detail">대학교</div>
        </div>
        <div
          id="details-facilities"
          class="detail-container"
          style="display: none"
        >
          <p style="width: 100%; text-align: start; padding: 0 20px">
            <span style="color: lightskyblue">● </span>시설
          </p>
          <p
            style="
              width: 100%;
              text-align: start;
              padding: 0 20px;
              font-size: 13px;
              color: grey;
            "
          >
            원하는 조건을 골라 세부항목을 선택해주세요.
          </p>
          <div class="detail">공원</div>
          <div class="detail">은행</div>
          <div class="detail">주민센터</div>
          <div class="detail">아동복지센터</div>
          <div class="detail">경로당</div>
          <div class="detail">요양원</div>
          <div class="detail">경찰</div>
          <div class="detail">마트</div>
          <div class="detail">대형마트</div>
          <div class="detail">전기차 충전소</div>
        </div>
        <div
          id="details-residential"
          class="detail-container"
          style="display: none"
        >
          <p
            style="
              width: 100%;
              text-align: start;
              padding: 0 20px;
              margin: 10px 0;
            "
          >
            <span style="color: lightcoral">● </span>거주 → 방 개수
          </p>
          <p
            style="
              width: 100%;
              text-align: start;
              padding: 0 20px;
              font-size: 13px;
              color: grey;
            "
          >
            방 개수를 선택해주세요.
          </p>
          <div class="detail">1개</div>
          <div class="detail">2개</div>
          <div class="detail">3개</div>
          <div class="detail">4개</div>
          <div class="detail">5개 이상</div>
          <p
            style="
              width: 100%;
              text-align: start;
              padding: 0 20px;
              margin: 10px 0;
            "
          >
            <span style="color: lightcoral">● </span>거주 → 평수
          </p>
          <p
            style="
              width: 100%;
              text-align: start;
              padding: 0 20px;
              font-size: 13px;
              color: grey;
            "
          >
            평수를 선택해주세요.
          </p>
          <div class="detail">10평대</div>
          <div class="detail">20평대</div>
          <div class="detail">30평대</div>
          <div class="detail">40평대</div>
          <div class="detail">50평대 이상</div>
          <p
            style="
              width: 100%;
              text-align: start;
              padding: 0 20px;
              margin: 10px 0;
            "
          >
            <span style="color: lightcoral">● </span>거주 → 준공 년도
          </p>
          <p
            style="
              width: 100%;
              text-align: start;
              padding: 0 20px;
              font-size: 13px;
              color: grey;
            "
          >
            준공 년도를 선택해주세요.
          </p>
          <div class="detail">5년 이내</div>
          <div class="detail">10년 이내</div>
          <div class="detail">15년 이내</div>
          <div class="detail">20년 이내</div>
          <div class="detail">25년 이상</div>
          <p
            style="
              width: 100%;
              text-align: start;
              padding: 0 20px;
              margin: 10px 0;
            "
          >
            <span style="color: lightcoral">● </span>거주 → 가격
          </p>
          <p
            style="
              width: 100%;
              text-align: start;
              padding: 0 20px;
              font-size: 13px;
              color: grey;
            "
          >
            가격을 선택해주세요.
          </p>
          <div class="detail">1억 이하</div>
          <div class="detail">2억 이하</div>
          <div class="detail">3억 이하</div>
          <div class="detail">4억 이하</div>
          <div class="detail">4억 이상</div>
          <p
            style="
              width: 100%;
              text-align: start;
              padding: 0 20px;
              margin: 10px 0;
            "
          >
            <span style="color: lightcoral">● </span>거주 → 세대 수
          </p>
          <p
            style="
              width: 100%;
              text-align: start;
              padding: 0 20px;
              font-size: 13px;
              color: grey;
            "
          >
            세대 수를 선택해주세요.
          </p>
          <div class="detail">200세대 이상</div>
          <div class="detail">500세대 이상</div>
          <div class="detail">1000세대 이상</div>
        </div>
        <div
          id="details-leisure"
          class="detail-container"
          style="display: none"
        >
          <p style="width: 100%; text-align: start; padding: 0 20px">
            <span style="color: thistle">● </span>여가
          </p>
          <p
            style="
              width: 100%;
              text-align: start;
              padding: 0 20px;
              font-size: 13px;
              color: grey;
            "
          >
            원하는 조건을 골라 세부항목을 선택해주세요.
          </p>
          <div class="detail">영화관</div>
          <div class="detail">미술관</div>
          <div class="detail">체육관</div>
          <div class="detail">헬스장</div>
          <div class="detail">골프장</div>
          <div class="detail">볼링장</div>
          <div class="detail">공공체육시설</div>
        </div>
        <p id="arrow" style="font-size: 25px; display: none">⬇️</p>
        <p
          id="perfecthomes"
          style="
            width: 100%;
            text-align: start;
            padding: 0 20px;
            margin: 0;
            display: none;
          "
        >
          🏠 퍼펙트 홈즈
        </p>
        <div id="selected-details" class="selected-detail-container"></div>
      </div>
    </div>

    <div id="map"></div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</html>
