<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>회원가입 페이지</title>
</head>
<body>
<div class="layouta_container">
    <div class="layouta_container">
        <div class="box1">

            <div class="box2">
                <img src="/static/img/logo.png" alt="logo">
                <div class="welcome_text" dir="auto">회원가입을 위해</div>
                <div class="welcome_text" dir="auto">정보를 입력해주세요.</div>
            </div>
            <form>
                <div class="text_box">닉네임</div>
                <input class="input_nick" type="text" id="nickname" placeholder="Nickname" value="">
                <div class="text_box">아이디</div>
                <input class="input_username" type="text" id="username" placeholder="ID" value="">
                <div class="text_box">이메일</div>
                <input class="input_email" type="text" id="email" placeholder="Email" value="">
                <div class="text_box">비밀번호</div>
                <input class="input_pw" type="password" id="password" placeholder="Password" value="">
                <div class="text_box">비밀번호 확인</div>
                <input class="input_pw" type="password" id="password2" placeholder="Password Check" value="">
                <button class="signup_btn" type="button" id="signup_submit">완료</button>
            </form>
        </div>
    </div>
</div>
</body>

<script>
    $(document).ready(function () {
        $('.input_nick, .input_username, .input_email, .input_pw').focus(function () {
            $(this).attr('placeholder', '');
        }).blur(function () {
            if ($(this).val() === '') {
                $(this).attr('placeholder', $(this).data('placeholder'));
            }
        });

        $('.input_nick, .input_username, .input_email, .input_pw').each(function () {
            $(this).data('placeholder', $(this).attr('placeholder'));
        });
    });

    function signup(){
        let nickname = $('#nickname').val();
        let username = $('#username').val();
        let email = $('#email').val();
        let password = $('#password').val();
        let password2 = $('#password2').val();

        if (nickname === '' || username === '' || email === '' || password === '' || password2 === '') {
            alert('입력값을 모두 채워주세요.');
            return;
        }

        if (password.length < 8) {
            alert('비밀번호는 8자리 이상이어야 합니다.');
            return;
        }

        if (password !== password2) {
            alert('입력한 비밀번호가 일치하지 않습니다.');
            return;
        }

        $.ajax({
            url: "http://127.0.0.1:8000/auth/signup/",
            dataType: "json",
            data: {
                username: username,
                password: password,
                password2: password2,
                nickname: nickname,
                phone_number: "" 
            },
            method: "POST",
            success: function (data) {
                console.log("성공");
                alert("성공")
                location.replace("{% url 'main' %}");
            },

            error: function (request, status, error) {
                console.log("실패");
            },
            complete: function () {
                console.log("성공");
            }
        })
    }

    $('#signup_submit').click(function () {
        signup()
    });

    $(document).keyup(function (event) {
        if (event.which === 13) {
            $('#signup_submit').click();
        }
    });

</script>

</html>