<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>회원가입 페이지</title>
</head>
<body>
<div class="layouta_container">
    <div class="layouta_container">
        <div class="box1">

            <div class="box2">
                <img src="/static/img/logo.png" alt="logo">
                <div class="welcome_text" dir="auto">회원가입을 위해</div>
                <div class="welcome_text" dir="auto">정보를 입력해주세요.</div>
            </div>
            <form>
                <div class="text_box">닉네임</div>
                <input class="input_nick" type="text" id="nickname" placeholder="Nickname" value="">
                <div class="text_box">이름</div>
                <input class="input_name" type="password" id="name" placeholder="Name" value="">
                <div class="text_box">이메일</div>
                <input class="input_email" type="text" id="email" placeholder="Email" value="">
                <div class="text_box">비밀번호</div>
                <input class="input_pw" type="password" id="password" placeholder="Password" value="">
                <div class="text_box">비밀번호 확인</div>
                <input class="input_pw" type="password" id="password2" placeholder="Password Check" value="">
                <button type="signup_submit" class="login_btn">완료</button>
            </form>
        </div>
    </div>
</div>
</body>

<script>
    // 마우스 포커스가 들어오면 placeholder 값을 비움
    $(document).ready(function () {
        $('.input_nick, .input_name, .input_email, .input_pw').focus(function () {
            $(this).attr('placeholder', '');
        }).blur(function () {
            if ($(this).val() === '') {
                $(this).attr('placeholder', $(this).data('placeholder'));
            }
        });
        // 페이지 로드 시 각 input의 placeholder 다시 보이게
        $('.input_nick, .input_name, .input_email, .input_pw').each(function () {
            $(this).data('placeholder', $(this).attr('placeholder'));
        });
    });
    $('#signup_submit').click(function () {
    });

    $(document).keyup(function (event) {
        if (event.which === 13) {
        }
    });

    function signup(){
        let username = $('#username').val();
        let name = $('#name').val();
        let email = $('#email').val();
        let password = $('#password').val();
        let password2 = $('#password2').val();
    }

</script>

</html>